<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'products')}">
<head>
    <meta charset="UTF -8">
    <title>Pet Clinic</title>
</head>
<body>

<!--/*@thymesVar id="product" type="org.springframework.samples.petclinic.product.Product"*/-->
    <form th.object = "product" th:action="@{/products/__${product.id}__/upload}" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload Files"></input>
    </form>
</body>
</html>

